<div class="main-container">
  <form id="form" class="form container" enctype="application/x-www-form-urlencoded">
  <h1 class="title">Ingrese Producto</h1>
    <div>
      <label for="title">Nombre</label>
      <input id="titleInput" type="text" name="title" />
    </div>
    <div>
      <label for="price">Precio</label>
      <input id="priceInput" type="text" name="price" />
    </div>
    <div>
      <label for="thumbnail">Foto URL</label>
      <input id="thumbnailInput" type="text" name="thumbnail" />
    </div>
    <button id="btn" type="submit" class="btn btn-success">Enviar</button>    
  </form>

  <div class="container">
  <table class="table table-dark">
    <thead>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Foto</th>
    </thead>
    <tbody id="tableBody">
      {{#each productos}}
          <tr>
              <td>{{this.title}}</td>
              <td>$ {{this.price}}</td>
              <td><img src="{{this.thumbnail}}" alt="imagen"></td>
          </tr>
      {{/each}}
    </tbody>
  </table>
  </div>

  <div class="msg-center container">
    <h2 class="title">Centro de Mensajes</h2>
    <form id="msg-form" enctype="application/x-www-form-urlencoded">
      <input id="email-input" type="text" autocomplete="off" name="email-input">
      
      <hr>
      <div class="messages-container" id="messages">
        {{#each mensajes}}
          <div class="message">
            <span class="email">{{this.email}}</span>
            <span class="date">{{this.date}}</span>
            <span class="msg">{{this.msg}}</span>
          </div>
        {{/each}}
      </div>

      <input id="message-input" type="text" autocomplete="off" name="msg-input">      
      <button type="submit" class="btn btn-primary">Enviar!</button>
    </form>

  </div>

</div>
